In [1]:
import pandas as Pand
import matplotlib.pyplot as Mplt
import numpy as Np
import seaborn as Sns
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler,PolynomialFeatures

In [2]:
file_name='https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/coursera/project/kc_house_data_NaN.csv'
df=Pand.read_csv(file_name)

In [3]:
df['floors'].value_counts().to_frame()

     floors
1.0   10680
2.0    8241
1.5    1910
3.0     613
2.5     161
3.5       8